---
---

@import 'base/mixins';
@include font-face("ATC Arquette Regular", "../fonts/ATCArquette-Regular");

// add bootstrap variable settings here

@import 'bootstrap';

// add more css stuff here

html, body, #jumbotron-header {
  height: 100%;
  height: 100vh;
}

body {
  font-family: "ATC Arquette Regular", 'Lato', sans-serif;
}
