html, body, #jumbotron-header {
  height: 100%;
  height: 100vh;
}

body {
  font-family: "ATC Arquette", 'Open Sans', sans-serif;
}

body > .container {
  margin-top: 100px;
}

// weird bootstrap bug where was adding extra margin-right making page scrollable to right
.row {
  @include mobile {
    margin-right: 0;
  }
}