<!-- Footer -->
<footer>
  <div class="container">
    <ul class="list-inline row text-xs-center">
      <li class="list-inline-item col-xs-12 lead text-uppercase">
        <a href="#">Home</a>
      </li>
      <li class="list-inline-item col-xs-12">
        <a href="#">Conversations</a>
      </li>
      <li class="list-inline-item col-xs-12">
        <a href="#">Events</a>
      </li>
      <li class="list-inline-item col-xs-12">
        <a href="#">People</a>
      </li>
    </ul>
    <div class="row">
      <div class="col-xs-6">
        <p class="copyright text-muted small">{{ site.copyright }}</p>
      </div>
      <div class="col-xs-6">
            {{ site.credits }}
      </div>
    </div>
  </div>
</footer>
