<head>
<!-- Head -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <title>{{ page.title }} - {{ site.title }}</title>

  <link rel="canonical" href="{{ site.url }}" />

  <link rel="shortcut icon" type="image/png" href="img/favicon-32x32.png"/>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" >

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</head>
